body {
    /*
    padding: 50;
    margin: 0;*/
    background-color: rgba(238, 237, 237, 0.753);
    /*background-image: url("../../images/MFCCs_duration_short.png")*/
  }
  
  #top-row {
    margin-top: 20px;
    margin-left: 20px
  }
  
  h1{
    color:rgb(red, green, blue);
    font-family: serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    /*font-size: x-large;*/
    font-weight: bold;
  }
  
  h3{
    color:rgb(red, green, blue);
    font-family: serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
  }
  
  h4{
    color:rgb(red, green, blue);
    font-family: serif;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: x-large;
    font-weight: bold;
  }
  
  h5{
    color:rgb(red, green, blue);
    font-family: serif;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: large;
    font-weight: bold;
  }
  
  .p-tiny{
    font-size: 0.8em
  }
  
  .p-cite {
    color:rgb(red, green, blue);
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .body-font {
    font-family: sans-serif;
    font-size: 12px;
    /*font-weight: bold;*/
    text-align: left;
    /*padding: 5px;*/
  }
  
  .bottom {
    text-align: right;
    margin-top: 10px;
  }
  
  a {
    color: black
  }
  
  a:link {
    color: black;
    /*background-color: transparent;*/
    text-decoration: none;
  }
  
  /*
  a:visited {
    color: purple;
    text-decoration: none;
  }*/
  
  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .btn:link {
    color: white
  }
  .btn-primary {
    background-color: rgb(33, 48, 85);
    border-color:  rgb(33, 48, 85);
    color: white
  }
  .card-big {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px
  }
  
  .wav-img {
    width: 40%;
    height: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: auto
  }
  
  .align-center {
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  
  .wav2-img {
    width: 60%;
    height: auto;
    margin-top: 0;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  
  .metadata-img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .center-img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  code {
    color: black;
    background-color: rgba(240, 240, 240, 0.801);
  }
  
  .code-box{
    padding: 5px;
    background-color: rgba(240, 240, 240, 0.801);
  }
  
  
  /* ---  hoverpopups type 1 ---- */
  /* copied from http://www.wickham43.net/tutorial.css */
  /*
  #popup { color: #000; background-color: #c0c0c0; }
  #popup a, #popup a:visited {
      position: relative;
      display: block;
      width: 130px;
      line-height: 30px;
      text-align: right;
      padding: 0 10px;
      margin: 0;
      border: 1px solid #666;
      text-decoration: none;
      font-size: 1em;
      font-weight: bold;
  }
  */
  
  #popup span {
      position: relative;
    display: block;
    /*
      width: 130px;
      line-height: 30px;
      text-align: right;
      padding: 0 10px;
      margin: 0;
      border: 1px solid #666;
      text-decoration: none;
      font-size: 1em;
      font-weight: bold;*/
  }
  #popup span span {
    display: none;
  }
  
  #popup span:hover span {
    display: block;
    position: absolute;
    top: 0px;
    width: 60%; /*320px;*/
    /*
      margin: 0px;
      padding: 10px;
      color: #335500;
      font-weight: normal;
      background: #e5e5e5;
      text-align: left;
      border: 1px solid #666;  */
  }
  /*
  #popup a span {
      display: none;
  }
  #popup a:hover { 
      background-color: #e9e9e2; 
  }
  */
  /* the IE correction rule */
  
  /* ---end:  hoverpopups type 1 ---- */
  
  #experiment .card-text{
    margin: 10px
  }
  
  @media (max-width: 760px) {
    .body-font {
      font-family: sans-serif;
      font-size: 8px;
      /*font-weight: bold;*/
      text-align: left;
      /*padding: 5px;*/
    }
  }